[submodule "home/bin_repos/ack"]
	path = home/bin_repos/ack
	url = https://github.com/petdance/ack.git
[submodule "home/bin_repos/gary_bernhardt_dotfiles"]
	path = home/bin_repos/gary_bernhardt_dotfiles
	url = https://github.com/garybernhardt/dotfiles.git
[submodule "home/bin_repos/sshuttle"]
	path = home/bin_repos/sshuttle
	url = https://github.com/apenwarr/sshuttle.git
[submodule "home/bin_repos/osx-proxy"]
	path = home/bin_repos/osx-proxy
	url = git@bitbucket.org:zph/osx-proxy.git
[submodule "home/bin_repos/git-extras"]
	path = home/bin_repos/git-extras
	url = git@github.com:visionmedia/git-extras.git
