tags
home/.config/hub
home/.vim/.netrwhist
config/
var/

home/.tmux.conf.osx
home/bin/expm
home/bin/mvim
home/bin/shannon_push
home/com.googlecode.iterm2.plist
home/.zsh.d/work_aliases.zsh

home/.zsh.d/sack.zsh
home/bin/F
home/bin/sack
home/bin/sag
home/bin/sgrep
home/.emacs.d/image-dired/*
home/.vim/bundle/*
home/.zsh.d/configs.local
home/.vim/session/
