tags
home/.config/hub
home/.vim/.netrwhist
config/
!Library/Preferences/espanso/config/
var/

home/.tmux.conf.osx
home/bin/expm
home/bin/mvim
home/bin/shannon_push
home/com.googlecode.iterm2.plist
home/.zsh.d/work_aliases.zsh

home/bin/direnv
home/bin/gh
home/bin/ngrok
home/bin/sag
home/bin/sgrep
home/.emacs.d/image-dired/*
home/.vim/bundle/*
home/.zsh.d/configs.local
home/.vim/session/
home/.parallel/tmp
home/*lein/*history*
home/.vim/plugged/*
home/bin/pre-commit
home/bin/vault-env
home/.config/fish/fish_variables
