{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $is_work := promptStringOnce . "is_work" "Is this a work laptop? [true|false]" -}}
{{- $github_username := promptStringOnce . "github_username" "Github Username" -}}
{{- $is_minimal_install := promptStringOnce . "is_minimal_install" "Determines Brewfile thoroughness [true|false]" -}}

encryption = "age"
[age]
    identity = "$HOME/.ssh/20221104-age-key-dotfiles.key"
    recipient = "age1v8wd4qzgyktmp33h6p3w26cat63mr80ujqduzr4mj6xcdg3l6chsqtwdhh"

[data]
    email = {{ $email | quote }}
    is_work = {{ $is_work | quote }}
    github_username = {{ $github_username | quote }}
    is_minimal_install = {{ $is_minimal_install | quote }}

[scriptEnv]
    GITHUB_USERNAME = {{ $github_username | quote }}
