# Much of the customization in this Config originated from Gary Bernhardt
[user]
	name = ZPH
	email = Zander@civet.ws
[diff]
[color]
	ui = true
[alias]
    a = add
    aa = add --all
    ai = add -i
    amend = commit --amend
    ap = add -p
    b = branch
    ci = commit -v
    cim = commit -m
    cl = clone
    co = checkout
    dc = diff --cached
    dh = diff HEAD~1
    dh1 = diff HEAD~1
    di = diff
    div = divergence
    ds = diff --stat=160,120
    fa = fetch --all
    ff = merge --ff-only
    gn = goodness
    gnc = goodness --cached
    h = !git head
    head = !git l -1
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    hp = "!source ~/.githelpers && show_git_head"
    l = "!source ~/.githelpers && pretty_git_log"
    la = !git l --all
    noff = merge --no-ff
    pom = push origin master
    pr = pull --rebase
    pl = pull
    pu = push
    pul = pull --ff-only
    pullff = pull --ff-only
    r = !git l -30
    ra = !git r --all
    st = status
    # Divergence (commits we added and commits remote added)
    # div = divergence

    # Goodness (summary of diff lines added/removed/total)
    # gn = goodness
    # gnc = goodness --cached

    # Fancy logging.
    #   h = head
    #   hp = head with patch
    #   r = recent commits, only current branch
    #   ra = recent commits, all reachable refs
    #   l = all commits, only current branch
    #   la = all commits, all reachable refs
    # ll = "log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short"
    h = !git head
    head = !git l -1
    hp = "!. ~/.githelpers && show_git_head"
    l = "!. ~/.githelpers && pretty_git_log"
    la = !git l --all
    ll = !git r --all
    r = !git l -30
    ra = !git r --all
    unstage = reset HEAD
[merge]
    tool = vimdiff
[github]
	user = zph
	token = "# require <top-level module>"
[core]
	autocrlf = input
	safecrlf = true
	excludefile = /Users/zander/.gitignore_global
	excludesfile = /Users/zander/.gitignore_global
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = current
[web]
	browser = chrome
