#!/usr/bin/env bash

set -eou pipefail

# OSX hash: {{ include "../home/executable_dot_osx" | sha256sum }}

{{ if eq .chezmoi.os "darwin" -}}
  sudo bash $HOME/.osx
  sudo "${HOME}/.config/tmutil/setup-exclusions"
  brew install asdf
  . $(brew --prefix asdf)/libexec/asdf.sh
{{ else if eq .chezmoi.os "linux" -}}
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.2
  . $HOME/.asdf/asdf.sh
{{ end -}}

asdf plugin-add python
asdf plugin add ruby https://github.com/asdf-vm/asdf-ruby.git
asdf plugin-add golang https://github.com/kennyp/asdf-golang.git
asdf plugin-add terraform https://github.com/Banno/asdf-hashicorp.git
asdf plugin-add haskell https://github.com/vic/asdf-haskell.git


# For neovim location
# --symlink --interactive to prompt in case of conflict
ln -si ~/.vim ~/.config/nvim
