#!/usr/bin/env bash

set -eou pipefail

# Brewfile hash: {{ include "../home/dot_config/brewfile/Brewfile.extras" | sha256sum }}
# Brewfile hash: {{ include "../home/dot_config/brewfile/Brewfile.base" | sha256sum }}
~/bin/brew-apply
